code {
    color: var(--color-secondary-1);
    background-color: black;
    padding: 0px 4px;
}

@media (prefers-color-scheme: light) {
    code {
        color: var(--color-secondary-5);
    }
}

.highlight code {
    background-color: transparent;
}