body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

main {
    margin: 4px;
    padding: 8px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>p {
    margin-bottom: 4px;
}


html {
    height: 100%;
}