<p>Copyright {{ now.Year }}. All rights reserved.</p>
<div class="conjoin-updown" style="display: flex; flex-direction: column;">
    <div class="conjoin-buttons">
        <a href="https://blahaj.zone/@kaylie" rel="me" class="buttonish">Fediverse</a>
        <a href="https://github.com/moonheart08" rel="me" class="buttonish">Github</a>
        <a href="https://kayliesworkshop.bandcamp.com/" rel="me" class="buttonish">Bandcamp</a>
    </div>
    <a href="/the-webdev-experience/" class="buttonish">Better in Mozilla Firefox!</a>
</div>